<script lang="ts">
  export let name: string = "";
  export let scryfallLink: string = "";
  export let edhrecLink: string = "";
  export let imageLink: string = "";
</script>

<div class="card">
  <a href={scryfallLink} target="_blank">
    <img src={imageLink} alt={name} />
  </a>
  <div class="links">
    <a href={scryfallLink} target="_blank">Scryfall</a>
    <a href={edhrecLink} target="_blank">EDHRec</a>
  </div>
</div>

<style>
  .card {
    display: flex;
    flex-direction: column;
    transition: ease transform 0.2s;
  }
  .card:hover {
    transform: scale(110%);
    transition: ease transform 0.2s;
  }
  img {
    min-width: 100px;
    width: 100%;
  }
  .links {
    display: flex;
    justify-content: space-around;
    padding: 0.5rem;
  }
</style>
