<script lang="ts">
  import { loginForm } from "./store";

  let name: string = "";
  let code: string = "";
  $: disabled = code === "" && name === "";
  loginForm;
</script>

<form method="post">
  <div class="login-form">
    <label>
      Gib deinen Namen ein
      <input name="name" bind:value={name} />
    </label>

    <label>
      oder nutze deinen persönlichen Code
      <input name="code" bind:value={code} />
    </label>
    {#if $loginForm?.error && $loginForm?.error !== ""}
      <p class="error">{$loginForm.error}</p>
    {/if}

    <button class="box-shadow" {disabled}>Login</button>
  </div>
</form>

<style>
  label {
    display: flex;
    flex-direction: column;
  }
  form,
  .login-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .login-form {
    max-width: 300px;
    align-items: stretch;
  }
  button,
  label {
    margin-top: 0.5rem;
  }

  .error {
    background-color: hsl(0, 50%, 80%);
    color: hsl(0, 60%, 40%);
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 12pt;
  }
</style>
