<script lang="ts">
  import { invalidateAll } from "$app/navigation";

  export let rerolls: number;

  async function reroll(): Promise<Response> {
    const response = await fetch(`/api/cards`, {
      method: "POST",
    });

    await invalidateAll();
    return response;
  }
</script>

<div class="reroll">
  <button
    class="box-shadow"
    on:click={async () => await reroll()}
    disabled={rerolls == 0}>Reroll</button
  >
  <p>(noch {rerolls} verfügbar)</p>
</div>

<style>
  .reroll {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  button {
    border-style: 1px solid black;
    width: 4rem;
    height: 2.5rem;
    color: grey;
  }
</style>
