<div class="content">
  <slot />

  <div class="instructions">
    <h2>Was ist Secret Santa Commander?</h2>
    Secret Santa Commander ist der Versuch Wichteln mit EDH zu verbinden. Dabei steht
    der Spaß und die Deck Building Challenge im Vordergrund. Jeder Teilnehmer baut
    ein Deck mit einem zufällig ausgewählten Commander. Zu Beginn bekommt dann jeder
    ein anderes Deck zugelost und spielt mit diesem einige Runden Commander. Danach
    kann getauscht werden wie es beliebt.
    <h2>Wann findet es statt?</h2>
    - tbd. voraussichtlich Mitte November
    <h2>Was gibt es zu beachten?</h2>
    <ol>
      <li>
        Jeder Teilnehmer baut ein Commander-Deck nach Standard EDH-Regeln.
      </li>
      <li>
        Das Deck sollte insgesamt nicht mehr als 30 € kosten (Commander
        ausgenommen)
      </li>
      <li>
        Es sind keine Proxies erlaubt, da das Deck ja ein Geschenk sein soll ;)
      </li>
      <li>
        Der ausgewählte Commander sollte geheim bleiben bis die Auslosung vorbei
        ist. Packt daher am besten den Commander verkehrt herum in eine Sleeve
      </li>
    </ol>
    <h2>Tipps</h2>
    <ol>
      <li>
        Scryfall und EDHrec sind sehr hilfreich beim Suchen von passenden
        Karten. Hier ein <a
          href="https://www.youtube.com/watch?v=RC_LqNAoky4"
          target="_blank">Video von Commander Quarters</a
        > zu Scryfall.
      </li>
      <li>
        Als grobe Richtlinie kann man das <a
          href="https://www.youtube.com/watch?v=3K9PEeLG_6M"
          target="_blank"
        >
          Commander Deck Template von The Command Zone
        </a>
        nutzen
        <ul>
          <li>Ramp 10-12</li>
          <li>Card Draw 10</li>
          <li>Targeted Removal 10-12</li>
          <li>Board Wipes 3-4</li>
          <li>Lands 35-38</li>
          <li>Deck Plan 30</li>
        </ul>
      </li>
      <li>Nutzt auch euren Common und Uncommon-Pile für das Deckbuildung</li>
    </ol>
  </div>
</div>

<style>
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 10;
    flex-grow: 1;
    max-width: 800px;
  }
  .instructions {
    width: 100%;
  }
</style>
