<script lang="ts">
  import type { ActionData, PageData } from "./$types";
  export let form: ActionData;
  export let data: PageData;
  import LoginForm from "$lib/LoginForm.svelte";
  import { loginForm } from "$lib/store";
  import { page } from "$app/stores";
  import Card from "$lib/Card.svelte";
  import Reroll from "$lib/Reroll.svelte";

  //   update form store for error messages
  $: loginForm.set(form);
</script>

{#if data.user}
  <div class="head">
    <div class="textbox">
      <h2>{data.greeting} {data.user?.name}</h2>
      (Dein Code lautet {data.user?.code})
    </div>
    <h1>Das ist deine Commander-Auswahl</h1>
    <Reroll rerolls={data.user?.rerolls || 0} />
  </div>
  <div class="cards">
    {#each $page.data.cards as card}
      <Card {...card} />
    {/each}
  </div>
{:else}
  <LoginForm />
{/if}

<style>
  :global(.box-shadow) {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }
  :global(a) {
    color: rgb(134, 67, 5);
    transition: ease-in-out color 0.2s;
  }
  :global(a:hover) {
    transition: ease-in-out color 0.2s;
    color: rgb(178, 119, 46);
  }

  .head,
  .textbox {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cards {
    display: flex;
    justify-content: center;
  }
  .head,
  .cards {
    gap: 2rem;
  }
</style>
